negro = 000000;
blanco = FFFFFC;
gris = BEB7A4;
naranja claro = E97149;
granate = 9D2525;
azul = 3E92CC;
azul marino = 086375;
albanta = 07605E;
image {
    max-width: 100%;
}
header {
    background-color: #E97149;
}
.navbar-toggler {
    margin-right: 10px;
}
.btn-outline-success {
    margin-right: 10px;
}
.navbar-brand {
    margin-right: 10px;
}
.bg-body-tertiary {
    background: #E97149 !important;
}

#soy {
    background-color: #E97149;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: -1px;
}

#img-yo {
    background-color: teal;
    color: green;
    border-radius: 350px;
    max-width: 100%;
    margin-top: 28px;
}
.boton-cont {
    text-decoration: none;
    color: #000;
    border: solid 1px #000;
    padding: 15px;
}
.boton-cont:hover {
    background-color: #BEB7A4;
    border: solid 2px;
}
#albanta {
    background-color: #07605E;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    height: 110vh;
}
#albanta div ul li{
    width: 120px;
    text-align: left;
}
#alba-img {
    max-width: 100%;
}

#bot-alb:hover{
    background: #E97149;
}
#Helados {
    background-color: #3E92CC;
    display: flex;
    justify-content: center;
    height: auto;
}
#hela-img{
    max-width: 100%;
}
#Helados div ul li{

    text-align: left;
}
@media screen and (max-width: 575px) {
    #soy {
        padding-bottom: 600px;
    }
    #albanta {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        height: auto;
    }
    #alba-img{
        margin-top: 20px;
    }
    #albanta div ul {
        text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    #hela-img{
        margin-top: -1px;
    }
    #Helados {
        padding-bottom: 40px;
    }

}